html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
}

#enlacesGenerosLiterarios > h5, #latest-books > h5 {
    font-weight: 500;
    text-align: center;
    width: 100vw;
    margin-top: 18px;
    margin-bottom: 5px;
}

.generosContainer{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card-generos {
    margin-bottom: 20px;
    margin-right: 25px;
}

.card-generos > .card {
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 5px;
    padding: 0px;
    width: 150px;
    height: 225px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-body {
    padding: 0px;
    display: flex;
    justify-content: center;
}

.card-body > p {
    font-weight: 500;
    font-size: 18px;
}

.carousel-control-prev, .carousel-control-next {
    width: 5%;
}

.carousel-control-prev {
    left: -1%;
}

.carousel-control-next {
    right: -1%;
}

.row {
    display: flex; 
    justify-content: space-evenly; 
    margin: 8px; 
    gap: 12px;
}

@media (max-width:992px) {
    .card-generos > .card {
        height: 260px !important;
    }
}