.nav {
    border: 1px solid rgb(214, 212, 212);
    box-shadow: 5px 5px 10px rgb(214, 212, 212);
}

.menu-a {
    border-radius: 0px !important;
    text-align: left;
    color: black;
}

.menu-active {
    background-color: #FA8232 !important;
    color: white;
    font-weight: 500;
}

.menu-a:hover {
    cursor: pointer;
    background-color: #fdbd5d;
    color:black;
}

.menu-icon-large {
    font-size: 1.5rem; /* para los íconos <i> */
    vertical-align: middle;
    margin-right: 10px;
}

.icon-svg {
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: middle;
    margin-right: 10px;
}